name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Setup dprint
        run: curl -fsSL https://dprint.dev/install.sh | sh

      - name: Check format
        run: ~/.dprint/bin/dprint check

  lint:
    runs-on: ubuntu-latest

    strategy:
      deno: ["v1.x", "nightly"]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}

      - name: Setup Denon
        run: deno install -qAf --unstable https://deno.land/x/denon@2.4.7/denon.ts

      - name: Lint
        run: denon lint

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      deno: ["v1.x", "nightly"]
      os: [macOS-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Setup Denon
        run: deno install -qAf --unstable https://deno.land/x/denon@2.4.7/denon.ts

      - name: Run test
        run: denon test
